.container {
    background: #f9f9f9;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .container_title{
         h2 {
            font-size: 24px;
            color: #333;
            margin-bottom: 10px;
        }
        
         p {
            font-size: 16px;
            color: #666;
            margin-bottom: 20px;
        }
    }

    .container_grup {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;

        input {
            flex: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: #0056b3;
            }
        }
    }

    .container_user_list {
       ul{ 
            list-style: none;
            padding: 0;
            max-height: 300px;
            overflow: hidden;
            overflow-y: auto;
            scrollbar-width: thin;

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                margin-bottom: 10px;

                button {
                    padding: 5px 10px;
                    background-color: #dc3545;
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: #c82333;
                    }
                }
            }
        }
    }

    .container_btn {
        text-align: center;
        margin-top: 20px;
    
    
        .btn {
        padding: 10px 20px;
        background-color: #1d7331;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: not-allowed;
        
            &.active{
                cursor: pointer;
                background-color: #28a745;
                
                &:hover {
                    background-color: #218838;
                }
            }            

        }
    }
    
}