.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;

  align-items: center;
  justify-content: space-evenly;

  .container_btn {
    position: absolute;
    top: 10%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    .btn_cancelar {
      background: #da2a2a;
      border: none;
      outline: none;
      padding: 10px;
      color: #fff;
      cursor: pointer;
      transform: 0.3s ease;

      &:hover {
        border-radius: 0.3rem;
        transition: 0.3s ease;
      }
    }

    .btn_add {
        background: #385ce0;
        border: none;
        outline: none;
        padding: 10px;
        color: #fff;
        cursor: pointer;
        transform: 0.3s ease;
  
        &:hover {
          border-radius: 0.3rem;
          transition: 0.3s ease;
        }
      }
  }

  .container_filter {
    background: #f9f9f9;
    max-width: 400px;
    max-height: 200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .container_title {
      h2 {
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        color: #666;
        margin-bottom: 20px;
      }
    }

    .container_grup {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;

      input {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
        }
      }
    }

    .container_list {
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 10px;
      max-height: 200px;
      overflow-y: auto;
      scrollbar-width: thin;
      transition: 0.3s ease;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          padding: 10px;
          border-bottom: 1px solid #eee;
          display: flex;
          align-items: center;
          transition: background-color 0.3s ease;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;

          &:last-child {
            border-bottom: none;
          }
          &:hover {
            background-color: #f1f1f1;
          }
        }
      }
    }
  }

  .container_list_section {
    width: 50%;
    max-height: 300px;
    background: #f9f9f9;
    margin: 0 auto;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #fff;

    ul {
      list-style: none;
      padding: 0;
      max-height: 300px;
      overflow: hidden;
      overflow-y: auto;
      scrollbar-width: thin;

      li {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 9px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        transition: 0.3s ease;

        &:hover {
          background: #ccc;
          transition: 0.3s ease;
        }

        p {
          font-size: 15px;
          font-weight: 500;
        }

        button {
          padding: 5px 10px;
          background-color: #dc3545;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: #c82333;
          }
        }
      }
    }
  }
}
